.number {
    background-color: #b1a493;
    width: 5em;
    height: 5em;
    margin: 5px;
    border: none;
}

.operator {
    background-color: #f7c37f;
    width: 5em;
    height: 5em;
    margin: 5px;
    border: none;
}

#calculate {
    background-color: #f7c37f;
    width: 5em;
    height: 5em;
    margin: 5px;
    border: none;
}

#clear {
    background-color: #f7c37f;
    width: 5em;
    height: 5em;
    margin: 5px;
    border: none;
}

.result {
    background-color: aqua;
    width: 22em;
    height: 5em;
    margin: 5px;
    word-wrap: break-word;
    font-family: monospace;
}

.container {
    margin-top: 10px;
    border: none;
}